<div class="container mt-5">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card mx-auto" style="max-width: 350px;">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="../../../../assets/images/logo.png" alt="logo" height="80px">
                        <h4>Welcome</h4>
                        <small>Sign in by entering your informations below.</small>
                    </div>


                    <form (ngSubmit)="login()" [formGroup]='authForm'>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="username" name="username"
                                formControlName="username" placeholder="name@example.com">
                            <small *ngIf="!authForm.get('username').valid && authForm.get('username').touched"
                                class="help-block">Please enter a valid username.</small>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="password"
                                formControlName="password" placeholder="**********" minlength="4">
                        </div>
                        <div class="mb-3">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-success mx-2" [disabled]="!authForm.valid">
                                    <div class="spinner-border text-info" role="status"
                                        style="width: 1rem; height: 1rem; border-width: 0.15em ;" *ngIf="isProcessing">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    Login
                                </button>
                                <button type="button" class="btn btn-outline-secondary mx-2"
                                    (click)="authForm.reset()">Cancel</button>
                            </div>

                        </div>
                        <small><a routerLink="/signup">Don't have account? Sign up here.</a></small>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>