<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container ">
      <a class="navbar-brand" href="#">Leapfrog</a>
      <button *ngIf="isLoggedIn" class="btn btn-secondary" (click)="logout()">Logout <i class="fas fa-sign-out-alt"></i></button>
      
    </div>
  </nav>
  
<div class="container my-4">
    <div class="row">
        <div class="col-8">
            <h4>
                All Contacts
            </h4>
            <div class="fixed-box">
                <div class="card my-3" *ngFor="let contact of contacts">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div><b>{{contact.name}}</b>, {{contact.address}}</div>
                            <div>
                                <i class="far fa-star" (click)="toggleFav(contact)" *ngIf="contact.isFavorite != 1"></i>
                                <i class="fas fa-star" style="color: yellow;" (click)="toggleFav(contact)"
                                    *ngIf="contact.isFavorite == 1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <div class="d-flex justify-content-between">
                                    <h6 *ngIf="contact.contactNumber"><a href="tel:{{contact.contactNumber}}"><i class="fas fa-mobile-alt"></i>
                                            {{contact.contactNumber}}</a>
                                    </h6>
                                    <h6 *ngIf="contact.homeNumber"><a href="tel:{{contact.homeNumber}}"><i class="fas fa-home"></i>
                                            {{contact.homeNumber}}</a>
                                    </h6>
                                    <h6 *ngIf="contact.officeNumber"><a href="tel:{{contact.officeNumber}}"><i class="fas fa-building"></i>
                                            {{contact.officeNumber}}</a>
                                    </h6>
                                </div>
                                <div  *ngIf="contact.email">
                                    <h6> <a href="mailto:{{contact.email}}"><i class="fas fa-envelope"></i>
                                            {{contact.email}}</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger btn-sm m-1"
                                    (click)="deleteContact(contact.id)"><i class="fas fa-trash"></i></button>
                                <button type="button" class="btn btn-secondary btn-sm m-1"
                                    (click)="selectContactToUpdate(contact)"><i class="fas fa-edit"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Add New Contact
                </div>
                <div class="card-body">
                    <form [formGroup]='contactForm'>
                        <input type="hidden" id='id' formControlName="id">
                        <div class="mb-3">
                            <label for="name" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="name" name="name" formControlName="name">
                            <small *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched">Please
                                provide valid name.</small>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="text" class="form-control" id="email" name="email" formControlName="email">
                            <small *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched">Please
                                provide valid email address.</small>
                        </div>
                        <div class="mb-3">
                            <label for="contactNumber" class="form-label">Contact Number</label>
                            <input type="number" class="form-control" id="contactNumber"
                                formControlName="contactNumber">
                            <small
                                *ngIf="!contactForm.get('contactNumber').valid && contactForm.get('contactNumber').touched">Please
                                provide a valid contact number.</small>
                        </div>
                        <div class="mb-3">
                            <label for="homeNumber" class="form-label">Home Contact Number</label>
                            <input type="number" class="form-control" id="homeNumber" formControlName="homeNumber">
                            <small
                                *ngIf="!contactForm.get('homeNumber').valid && contactForm.get('homeNumber').touched">Please
                                provide a valid contact number.</small>
                        </div>
                        <div class="mb-3">
                            <label for="officeNumber" class="form-label">Office Contact Number</label>
                            <input type="number" class="form-control" id="officeNumber" formControlName="officeNumber">
                            <small
                                *ngIf="!contactForm.get('officeNumber').valid && contactForm.get('officeNumber').touched">Please
                                provide a valid contact number.</small>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="address" class="form-control" id="address" formControlName="address">
                            <small
                                *ngIf="!contactForm.get('address').valid && contactForm.get('address').touched">Please
                                provide valid address.</small>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="isFavourite"
                                formControlName="isFavourite">
                            <label class="form-check-label" for="favourite">Make Favourite</label>
                        </div>
                        <div class="mb-3">

                            <button (click)="addContact()" class="btn btn-secondary mx-2" *ngIf="!updateMode"
                                [disabled]="!contactForm.valid">
                                <div class="spinner-border text-info" role="status"
                                    style="width: 1rem; height: 1rem; border-width: 0.15em ;" *ngIf="isProcessing">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                Add
                            </button>
                            <button (click)="updateContact()" class="btn btn-secondary mx-2" *ngIf="updateMode"
                                [disabled]="!contactForm.valid">
                                <div class="spinner-border text-info" role="status"
                                    style="width: 1rem; height: 1rem; border-width: 0.15em ;" *ngIf="isProcessing">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                Update
                            </button>
                            <button type="button" class="btn btn-outline-secondary mx-2"
                                (click)="contactForm.reset(); updateMode=false;">Clear Form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>