<div class="container">
    <div class="row">
        <div class="col-12">
                <div class="card mt-4 mx-auto" style="max-width: 400px;">
                    <div class="text-center mb-4">
                        <img src="../../../../assets/images/logo.png" alt="logo" height="80px">
                        <h4>Welcome</h4>
                        <p>Sign up by entering your informations below.</p>
                    </div>
                  <div class="card-body">
                    <form  [formGroup]='signupForm' (ngSubmit)="signup()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="john banner" >
                        <small
                        *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched">
                        Please enter a valid name.
                      </small>
                      </div>
                      <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        <input type="email" class="form-control" id="username" name="username" formControlName= "username" placeholder="name@example.com">
                        <small
                        *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
                        Please enter a valid email ID.
                      </small>
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Password (min length 4)</label>
                        <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="**********">
                        <small
                        *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                        Please enter a valid Password.
                      </small>
                      </div>
                      <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="**********">
                        <small
                        *ngIf="(signupForm.get('password').value != signupForm.get('confirmPassword').value) && signupForm.get('confirmPassword').dirty">
                        Passwords dont match.
                      </small>
                      </div>
                      <div class="mb-3">
                        <button type="button" class="btn btn-outline-dark mx-2">Cancel</button>
                        <button type="submit" class="btn btn-secondary mx-2" [disabled]="!signupForm.valid">Sign Up</button>
                      </div>
                </form>
                <div class="d-flex flex-row-reverse">
                  <div>
                    <a routerLink="/" style="color: #036462; font-size: 12px;">Back to Login?</a>
                  </div>
    
                  </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
